*{
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}
nav{
    border: 2px solid black;
    height: 15vh;
    display: flex;
    align-items: center;
    background-color:white;
    color: black;
    justify-content: space-around;
}

div{
    height: 100%;
    align-items: center;
    display: flex;
}
#men:hover{
    border-bottom: 5px solid red;

}
#women:hover{
    border-bottom: 5px solid rgb(14, 134, 203);

}
#kids:hover{
    border-bottom: 5px solid rgb(14, 212, 34);

}
#studio:hover{
    border-bottom: 5px solid rgb(255, 0, 136);

}

